@media (max-width: 576px) {
:root{
  --primary-color: #172727;
  --secondary-color: #F2EDFA;
}

  .hero{
  display: flex;
 flex-direction: column;
}

header{
 padding: 30px 35px;
}

.nav-list{
  display: none;
}

.hamburger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  width: 30px;
  cursor: pointer;
  background-color: var(--primary-color);
}

.hamburger-menu>div{
  height: 3px;
  width: 100%;
  z-index: 20;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: var(--secondary-color);
}


  /* Navs */

  .mobile-nav{
    display: flex;
    position: fixed;
    color: #333;
    top: 75px;
    right: -1px;
    left: 50%;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
    transform: translateX(101%);
    z-index: 30;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .mobile-nav>nav{
    margin: 30px auto;
    background-color: inherit;
  }

  .mobile-nav>nav>ul{
    display: flex;
    flex-direction: column;
    background-color: inherit;
  }

   .mobile-nav>nav>ul>li{
    margin: 0 auto 20px auto;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    background-color: inherit;
   }

    .mobile-nav>nav>ul>li>a{
    background-color: inherit;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
    }


/* HERO */

.container .title ul li{
  /* font-size: 17px; */
  font-size: 105%;
}

/* PHOTO OUTLINER */

#photo-outline>#photo-outline-container{
 flex-direction: column;
 justify-content: space-around;
 gap: 15px;
}

#photo-outline>#photo-outline-container button{
  padding: 20px;
}

#photo-details-container{
   width: 380px;
  height: 450px;
}

#photo-div{
 max-width: 450px;
 max-height: 450px;
}

#photo-caption{
 max-width: 84%;
}

.outline-buttons{
  display: flex;
  gap: 50px;
}


/* CAROUSEL */
/* Event cards */
.event-card-thirteen{
  transform: translateY(-60%);
}

.event-card-fourteen{
  transform: translateY(-38%);
}

.event-card-fifteen{
  transform: translateY(-38%);
}

/* Lifestyle cards */

.lifestyle-card-fourteen{
  transform: translateY(-16%);
}

.lifestyle-card-eleven{
  transform: translateY(-16%);
}

/* Retro cards */

.retro-card-twelve{
  transform: translateY(-320%) translateX(100%);
}

.retro-card-eleven{
  transform: translateY(-38%) translateX(100%);
}

/* FOOTER */

footer{
  flex-direction: column;
}

/* JS TOGGLES */

.hamburger-white{
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.mobile-nav-display{
  transform: translateX(0%);
}

.hamburger-1{
  transform: rotate(45deg) translateY(11px);
}

.hamburger-2{
  transform: rotate(-45deg) translateY(-11px); 
}

.hamburger-3{
    display: none;
  }
}