
/* card sizes */

.card-long{
  height: 400px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
  
}

.card-short{
  height: 250px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
  
}

.card-long:hover, .card-short:hover{
  opacity: 0.8;
}

.grid-column-1frX2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* *********SWITCH HANDLERS*********** */

/* Event Category styles */
.event-card-one{
   background-image: url("../images/carousel images/event/A11.jpg");
   background-repeat: no-repeat; 
  background-position: center;   
  background-size: cover;
}


.event-card-two{
  background-image: url("../images/carousel images/event/A12.jpg");
  background-repeat: no-repeat; 
  background-position: center;   
  background-size: cover;

}

.event-card-three{
 background-image: url("../images/carousel images/event/A13.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
 
  
   
}

.event-card-four{
background-image: url("../images/carousel images/event/A14.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.event-card-five{
background-image: url("../images/carousel images/event/A15.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.event-card-six{
   background-image: url("../images/carousel images/event/A16.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.event-card-seven{
  background-image: url("../images/carousel images/event/A17.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;

}

.event-card-eight{
background-image: url("../images/carousel images/event/A18.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.event-card-nine{

  background-image: url("../images/carousel images/event/A19.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover; 
}

.event-card-ten{
background-image: url("../images/carousel images/event/A20.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
 
}

.event-card-eleven{
  background-image: url("../images/carousel images/event/A21.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
  
}

.event-card-twelve{
   background-image: url("../images/carousel images/event/A22.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.event-card-thirteen{
   background-image: url("../images/carousel images/event/A23.jpg");
}

.event-card-fourteen{
  background-image: url("../images/carousel images/event/A24.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
}

.event-card-fifteen{
background-image: url("../images/carousel images/event/A25.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}


/* Lifestyle Category styles */

.lifestyle-card-one{
  transform: translateX(100%);
   background-image: url("../images/carousel images/lifestyle/-1486412983.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.lifestyle-card-two{
  transform: translateY(-160%);
  background-image: url("../images/carousel images/lifestyle/-702603178.jpg");
  background-repeat: no-repeat; 
  background-position: center;   
  background-size: cover;

}

.lifestyle-card-three{
  transform: translateY(-160%);
 background-image: url("../images/carousel images/lifestyle/A7.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;  
   
}

.lifestyle-card-four{
  display: none;
}

.lifestyle-card-five{
  position: relative;
  bottom: -37.6%;
background-image: url("../images/carousel images/lifestyle/A4.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.lifestyle-card-six{
  position: relative;
  bottom: -37.6%;
   background-image: url("../images/carousel images/lifestyle/A10.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.lifestyle-card-seven{
 transform: translateX(-100%);
  
  background-image: url("../images/carousel images/lifestyle/A2.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;

}

.lifestyle-card-eight{
  display: none;
}

.lifestyle-card-nine{
  position: relative;
  top: 23.8%;
  background-image: url("../images/carousel images/lifestyle/-1231774395.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover; 
}

.lifestyle-card-ten{
  display: none;
 
}

.lifestyle-card-eleven{
  position: relative;
  left: 100%;
  background-image: url("../images/carousel images/lifestyle/1888393390.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
  
}

.lifestyle-card-twelve{
  position: relative;
  top: -14.27%;
   background-image: url("../images/carousel images/lifestyle/A5.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.lifestyle-card-thirteen{
  position: relative;
  left: -100%;
   background-image: url("../images/carousel images/lifestyle/A9.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
   
}

.lifestyle-card-fourteen{
  position: relative;
  bottom: 23.84%;
  background-image: url("../images/carousel images/lifestyle/1716050292.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
}

.lifestyle-card-fifteen{
display: none;
}


/***************** Portrait Photos Category********** */

.portrait-card-one{
  position: relative;
  bottom: -27.9%;
  background-image: url("../images/carousel images/portrait/A13.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-two{
  position: relative;
  top: -44.4%;
    background-image: url("../images/carousel images/portrait/AD.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-three{
  position: relative;
  bottom: 72.2%;
  right: -100%;
  background-image: url("../images/carousel images/portrait/AA.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-four{
  display: none;
}

.portrait-card-five{
  position: relative;
  top: 27.8%;
  background-image: url("../images/carousel images/portrait/AB.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-six{
  position: relative;
  top: 44.5%;
  left: -100%;
  background-image: url("../images/carousel images/portrait/AC.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-seven{
  background-image: url("../images/carousel images/portrait/A16.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-eight{
  display: none;
}

.portrait-card-nine{
  display: none;
}

.portrait-card-ten{
  background-image: url("../images/carousel images/portrait/AF.jpg");
  
}

.portrait-card-eleven{
  position: relative;
  top: 27.7%;
  background-image: url("../images/carousel images/portrait/A19.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-twelve{
  position: relative;
  top: -44.5%;
  background-image: url("../images/carousel images/portrait/AG.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-thirteen{
  position: relative;
  top: 44.4%;
  background-image: url("../images/carousel images/portrait/AE.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-fourteen{
  position: relative;
  top: -27.8%;
  background-image: url("../images/carousel images/portrait/A20.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.portrait-card-fifteen{
display: none;
}

/* ************************* Retro Category *********************** */


.retro-card-one{
  display: none;
}

.retro-card-two{
  transform: translateX(100%);
}

.retro-card-three{
  transform: translateY(60%);
}

.retro-card-four{
 transform: translateY(-125%);
}

.retro-card-five{
 transform: translateY(100%);
}

.retro-card-six{
 transform: translateY(100%);
  
}

.retro-card-seven{
 display: none; 
}

.retro-card-eight{
  transform: translateX(-100%) translateY(60%);
}

.retro-card-nine{
  display: none;
}

.retro-card-ten{
  transform: translateY(260%);

}

.retro-card-eleven{
  transform: translateX(100%);
  
}

.retro-card-twelve{
  transform: translateY(-260%) translateX(100%);
}

.retro-card-thirteen{
  transform: translateX(-100%);
}

.retro-card-fourteen{
  transform: translateX(-100%);
}

.retro-card-fifteen{
 display: none;
}