.hero>div{
  border: 2px solid #333;
}

.hero>div:nth-child(1){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero>div:nth-child(1)>div{
  border: solid 2px #333;
}

/* ************************ */

.hero>div:nth-child(1)>div:nth-child(1){
 
}

.hero>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){
  background-color: red;
}

.hero>div:nth-child(1)>div:nth-child(1)>div:nth-child(2){
  background-color: blue;
}

.hero>div:nth-child(1)>div:nth-child(1)>div:nth-child(3){
  background-color: yellow;
}

.hero>div:nth-child(1)>div:nth-child(1)>div:nth-child(4){
  background-color: pink;
}

/* ****************************** */

.hero>div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
  background-color: purple;
}

.hero>div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
  background-color: yellow;
}

.hero>div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
  background-color: red;
}

.hero>div:nth-child(1)>div:nth-child(2)>div:nth-child(4){
  background-color: blue;
}

/* *******************Second column******************** */

.hero>div:nth-child(2){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero>div:nth-child(2)>div{
  border: solid 2px #333;
}

/* ********************************************** */

.hero>div:nth-child(2)>div:nth-child(1)>div:nth-child(1){
  background-color: blue;
}

.hero>div:nth-child(2)>div:nth-child(1)>div:nth-child(2){
  background-color: red;
}

.hero>div:nth-child(2)>div:nth-child(1)>div:nth-child(3){
  background-color: green;
}

.hero>div:nth-child(2)>div:nth-child(1)>div:nth-child(3){
  background-color: goldenrod;
}


/* ********************************************** */

.hero>div:nth-child(2)>div:nth-child(2)>div:nth-child(1){
  background-color: goldenrod;
}

.hero>div:nth-child(2)>div:nth-child(2)>div:nth-child(2){
  background-color: chocolate;
}

.hero>div:nth-child(2)>div:nth-child(2)>div:nth-child(3){
  background-color: brown;
}

/* card sizes */

.card-long{
  height: 400px;
  width: 100%;
}

.card-short{
  height: 250px;
  width: 100%;
}