
/* card sizes */

.card-long{
  height: 400px;
  width: 100%;
  transition: all 0.2s ease-in-out;
box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-short{
  height: 250px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-long:hover, .card-short:hover{
  opacity: 0.8;
}

.grid-column-1frX2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* *********SWITCH HANDLERS*********** */

/* Parties Category styles */
.parties-card-one{
   background-image: url("../images/carousel images/parties-pc/A11.jpg");
   background-repeat: no-repeat; 
  background-position: center;   
  background-size: cover;
}


.parties-card-two{
  background-image: url("../images/carousel images/parties-pc/A12.jpg");
  background-repeat: no-repeat; 
  background-position: center;   
  background-size: cover;

}

.parties-card-three{
 background-image: url("../images/carousel images/parties-pc/A13.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
 
  
   
}

.parties-card-four{
background-image: url("../images/carousel images/parties-pc/A14.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.parties-card-five{
background-image: url("../images/carousel images/parties-pc/A15.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.parties-card-six{
   background-image: url("../images/carousel images/parties-pc/A16.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.parties-card-seven{
  background-image: url("../images/carousel images/parties-pc/A17.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;

}

.parties-card-eight{
background-image: url("../images/carousel images/parties-pc/A18.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.parties-card-nine{

  background-image: url("../images/carousel images/parties-pc/A19.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover; 
}

.parties-card-ten{
background-image: url("../images/carousel images/parties-pc/A20.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
 
}

.parties-card-eleven{
  background-image: url("../images/carousel images/parties-pc/A21.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
  
}

.parties-card-twelve{
   background-image: url("../images/carousel images/parties-pc/A22.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.parties-card-thirteen{
   background-image: url("../images/carousel images/parties-pc/A23.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
   
}

.parties-card-fourteen{
  background-image: url("../images/carousel images/parties-pc/A24.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
}

.parties-card-fifteen{
background-image: url("../images/carousel images/parties-pc/A25.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}


/* Jobs Category styles */

.jobs-card-one{
  transform: translateX(100%);
   background-image: url("../images/carousel images/lifestyle-pc/-1486412983.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.jobs-card-two{
  transform: translateY(-160%);
  background-image: url("../images/carousel images/lifestyle-pc/-702603178.jpg");
  background-repeat: no-repeat; 
  background-position: center;   
  background-size: cover;

}

.jobs-card-three{
  transform: translateY(-160%);
 background-image: url("../images/carousel images/lifestyle-pc/A7.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
 
  
   
}

.jobs-card-four{
  display: none;
}

.jobs-card-five{
  position: relative;
  bottom: -37.6%;
background-image: url("../images/carousel images/lifestyle-pc/A4.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.jobs-card-six{
  position: relative;
  bottom: -37.6%;
   background-image: url("../images/carousel images/lifestyle-pc/A10.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.jobs-card-seven{
 transform: translateX(-100%);
  
  background-image: url("../images/carousel images/lifestyle-pc/A2.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;

}

.jobs-card-eight{
  display: none;
}

.jobs-card-nine{
  position: relative;
  top: 22.7%;
  background-image: url("../images/carousel images/lifestyle-pc/-1231774395.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover; 
}

.jobs-card-ten{
  display: none;
 
}

.jobs-card-eleven{
  position: relative;
  left: 100%;
  background-image: url("../images/carousel images/lifestyle-pc/1888393390.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
  
}

.jobs-card-twelve{
  position: relative;
  top: -17.5%;
   background-image: url("../images/carousel images/lifestyle-pc/A5.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
}

.jobs-card-thirteen{
  position: relative;
  left: -100%;
   background-image: url("../images/carousel images/lifestyle-pc/A9.jpg");
background-repeat: no-repeat;  
background-position: center;  
background-size: cover;
   
}

.jobs-card-fourteen{
  position: relative;
  bottom: 23.84%;
  background-image: url("../images/carousel images/lifestyle-pc/1716050292.jpg");
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;
}

.jobs-card-fifteen{
display: none;
}


/***************** Personal Photos Category********** */

.personal-card-one{
  position: relative;
  bottom: -27.9%;
}

.personal-card-two{
  position: relative;
  top: -44.4%;
}

.personal-card-three{
  position: relative;
  bottom: 72.2%;
  right: -100%;
}

.personal-card-four{
  display: none;
}

.personal-card-five{
  position: relative;
  top: 27.8%;
}

.personal-card-six{
  position: relative;
  top: 44.5%;
  left: -100%;
}

.personal-card-seven{

}

.personal-card-eight{
  display: none;
}

.personal-card-nine{
  display: none;
}

.personal-card-ten{
  
}

.personal-card-eleven{
  position: relative;
  top: 27.7%;
}

.personal-card-twelve{
  position: relative;
  top: -44.5%;
}

.personal-card-thirteen{
  position: relative;
  top: 44.4%;
}

.personal-card-fourteen{
  position: relative;
  top: -27.8%;
}

.personal-card-fifteen{
display: none;
}

/* ************************* Retro Category *********************** */


.retro-card-one{
  display: none;
}

.retro-card-two{
  transform: translateX(100%);
}

.retro-card-three{
  transform: translateY(60%);
}

.retro-card-four{
 transform: translateY(-125%);
}

.retro-card-five{
 transform: translateY(100%);
}

.retro-card-six{
 transform: translateY(100%);
  
}

.retro-card-seven{
 display: none; 
}

.retro-card-eight{
  transform: translateX(-100%) translateY(60%);
}

.retro-card-nine{
  display: none;
}

.retro-card-ten{
  transform: translateY(260%);

}

.retro-card-eleven{
  transform: translateX(100%);
  
}

.retro-card-twelve{
  transform: translateY(-260%) translateX(100%);
}

.retro-card-thirteen{
  transform: translateX(-100%);
}

.retro-card-fourteen{
  transform: translateX(-100%);
}

.retro-card-fifteen{
 display: none;
}