
/* card sizes */

.card-long{
  height: 400px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.card-short{
  height: 250px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.grid-column-1frX2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* *********SWITCH HANDLERS*********** */

/* Jobs Category styles */

.jobs-card-one{
  transform: translateX(100%);
}

.jobs-card-two{
  transform: translateY(-160%);
}

.jobs-card-three{
  transform: translateY(-160%);
}

.jobs-card-four{
  display: none;
}

.jobs-card-five{
  position: relative;
  bottom: -37.6%;
}

.jobs-card-six{
  position: relative;
  bottom: -37.6%;
}

.jobs-card-seven{
 transform: translateX(-100%);
}

.jobs-card-eight{
  display: none;
}

.jobs-card-nine{
  position: relative;
  top: 20.7%;
}

.jobs-card-ten{
  display: none;
}

.jobs-card-eleven{
  position: relative;
  left: 100%;
}

.jobs-card-twelve{
  position: relative;
  top: -17.5%;
}

.jobs-card-thirteen{
  position: relative;
  left: -100%;
}

.jobs-card-fourteen{
  position: relative;
  bottom: 23.84%;
}

.jobs-card-fifteen{
display: none;
}


/***************** Personal Photos Category********** */

.personal-card-one{
  position: relative;
  bottom: -27.9%;
}

.personal-card-two{
  position: relative;
  top: -44.4%;
}

.personal-card-three{
  position: relative;
  bottom: 72.2%;
  right: -100%;
}

.personal-card-four{
  display: none;
}

.personal-card-five{
  position: relative;
  top: 27.8%;
}

.personal-card-six{
  position: relative;
  top: 44.5%;
  left: -100%;
}

.personal-card-seven{

}

.personal-card-eight{
  display: none;
}

.personal-card-nine{
  display: none;
}

.personal-card-ten{
  
}

.personal-card-eleven{
  position: relative;
  top: 27.7%;
}

.personal-card-twelve{
  position: relative;
  top: -44.5%;
}

.personal-card-thirteen{
  position: relative;
  top: 44.4%;
}

.personal-card-fourteen{
  position: relative;
  top: -27.8%;
}

.personal-card-fifteen{
display: none;
}

/* ************************* Retro Category *********************** */


.retro-card-one{
  display: none;
}

.retro-card-two{
  transform: translateX(100%);
}

.retro-card-three{
  transform: translateY(60%);
}

.retro-card-four{
 transform: translateY(-125%);
}

.retro-card-five{
 transform: translateY(100%);
}

.retro-card-six{
 transform: translateY(100%);
  
}

.retro-card-seven{
 display: none; 
}

.retro-card-eight{
  transform: translateX(-100%) translateY(60%);
}

.retro-card-nine{
  display: none;
}

.retro-card-ten{
  transform: translateY(260%);

}

.retro-card-eleven{
  transform: translateX(100%);
  
}

.retro-card-twelve{
  transform: translateY(-260%) translateX(100%);
}

.retro-card-thirteen{
  transform: translateX(-100%);
}

.retro-card-fourteen{
  transform: translateX(-100%);
}

.retro-card-fifteen{
 display: none;
}