.hero>div{
  border: 2px solid #333;
}

.hero>div:nth-child(1)>div{
  border: solid 2px #333;
}

/* *******************Second column******************** */

.hero>div:nth-child(2)>div{
  border: solid 2px #333;
}



/* card sizes */

.card-long{
  height: 400px;
  width: 100%;
}

.card-short{
  height: 250px;
  width: 100%;
}

.grid-column-1frX2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* *********SWITCH HANDLERS*********** */

/* Jobs Category styles */
