#photo-outline{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

#photo-outline>#photo-outline-container{
  width: 80%;
  height: 85%;
  margin: auto;
  background: none;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

#photo-div{
  margin: auto;
  height: 80vh;
  width: 50vw;
  margin-bottom: 1.5vh;
  background-repeat: no-repeat; 
  background-position: center;   
  background-size: cover;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
}

#photo-caption{
  font-family: "Playfair Display", serif;
 max-width: 100%;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
}

#photo-outline>#photo-outline-container button{
  font-family: "Playfair Display", serif;
  border: none;
  padding: 0.3%;
  border-radius: 10%;
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: purple;
}

.outline-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
}

/* JS TOGGLE */

.hidden{
  display: none;
}