#photo-outline{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0,0,0,0.82);
  z-index: 40;
  transition: all 0.5s ease-in-out;
}

#photo-outline>#photo-outline-container{
  width: 80%;
  height: 85%;
  margin: auto;
  background: none;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3%;
  gap: 50px; 
}

#photo-div{
  margin: auto;
  height: 80vh;
  width: 50vw;
  margin-bottom: 1.5vh;
  background-repeat: no-repeat; 
  background-position: center;   
  background-size: cover;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
}

#photo-caption{
  font-family: "Playfair Display", serif;
 max-width: 70%;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 background-color: inherit;  
  opacity: inherit;
}

#photo-outline>#photo-outline-container button{
  font-family: "Playfair Display", serif;
  border: none;
  padding: 32px;
  border-radius: 150%;
  cursor: pointer;
  color: #333;
  font-weight: 600;
  background-color: white;
}

#photo-outline>#photo-outline-container button>i{
  font-size: 18px;
  color: var(--primary-color);
  background-color: white;
  cursor: pointer;
}

#photo-details-container{
  justify-content: center;
  align-items: center;
  width: 540px;
  background-color: inherit;  
  opacity: inherit;
}

.outline-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
  background-color: inherit;
  opacity: inherit;
}

/* JS TOGGLE */

.hidden{
  display: none;
}