@import url('carousel.css');
@import url('test-styles.css');
@import url('./responsivity/mobile.css');
@import url('./responsivity/tablet.css');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display SC", serif;
  cursor: default;
}

body{
  display: flex;
  height: 100vh;
}

.container{
  margin: auto;
  width: 100%;
  height: 100%;
}


/* HEADER */

header {
 display: flex;
 justify-content: space-between;
 padding: 30px;
 width: 100%;
 align-items: center;
 margin-bottom: 20px;
 position: fixed;
 z-index: 2;
 transition: all 0.2s ease-in-out;
}

header div{
color: purple;
}

.nav-list li{
  display: inline;
  margin: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: none;
}

.nav-list li:hover{
  border-bottom: solid purple;
}


/* CONTAINER */

.container .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container .title h1 {
  margin: 10px 0 20px 0;
  color: purple;
  font-weight: 600;
}

.container .title ul li{
  display: inline;
  margin: 10px;
  cursor: pointer;
}

hr{
  width: 90%;
  margin: auto;
}


/* HERO SECTION */

.hero{
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
}

/* *****************FOOTER******************* */

footer{
  height: 100px;
  border: 2px solid #333;
  display: flex;
}

footer>p{
  color: red;
  margin: auto;
}



/* FOR JAVASCRIPT TOGGLES */
.text-bold-purple{
  font-weight: bolder;
  color: purple;
}

.header-switch{
  background-color: purple;
  color: white;
}

/* UTILITIES */

.flex-column{
  display: flex;
  flex-direction: column;
}