@import url('carousel.css');
@import url('test-styles.css');
@import url('./photo-outliner.css');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display SC", serif;
}

:root{
  --primary-color: #172727;
  --secondary-color: #F2EDFA;
}

body{
  display: flex;
  height: 100vh;
  background-color: var(--secondary-color);
}


/* HEADER */

header {
 display: flex;
 justify-content: space-between;
 background-color: var(--primary-color);
 padding: 30px 60px;
 width: 100%;
 align-items: center;
 margin-bottom: 20px;
 position: fixed;
 z-index: 31;
 transition: all 0.2s ease-in-out;
}

header div{
color: var(--secondary-color);
background-color: inherit;
}

.nav-list{
  background-color: inherit;
  background-color: var(--primary-color);
}

.mobile-nav{
  display: none;
}

.nav-list li{
  display: inline;
  margin: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
  border: none;
  background-color: var(--primary-color);
}

.nav-list li a{
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: inherit;
}

.nav-list li:nth-child(4) a{
  border-bottom: solid var(--secondary-color);
  color: var(--secondary-color);
}

.nav-list li:hover{
  border-bottom: solid var(--secondary-color);
}

.hamburger-menu{
  display: none;
}


/* CONTAINER */

.container{
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.container .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container .title h1 {
  margin: 10px 0 20px 0;
  color: var(--primary-color);
  font-weight: 600;
}

.container .title ul li{
  display: inline;
  margin: 10px;
  cursor: pointer;
}

hr{
  width: 90%;
  margin: auto;
}


/* HERO SECTION */

.hero{
  width: 90%;
  margin: 20px auto;
  padding: 20px 20px 50px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  overflow: hidden;
}

/* *****************FOOTER******************* */

footer{
  height: auto;
  display: flex;
  padding: 30px 60px;
  gap: 20%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer>p{
  color: var(--secondary-color);
  flex: 1;
}


.footer-card h3{
   font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

.footer-card hr{
   width: 10%;
  margin-bottom: 1.5rem;
}


.footer-card{
  margin-bottom: 2.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-card p{
  margin-top: 0.3rem;
}

.get-in-touch-card>div>p, .my-social-links>div{
  text-align: center;
}

.my-social-links>div>a>i{
 font-size: 25px;
}


/* FOR JAVASCRIPT TOGGLES */
.text-bold-purple{
  font-weight: bolder;
  color: var(--primary-color);
}

.header-switch{
  background-color: var(--primary-color);
  color: white;
}

.navs-switch{
  color: var(--secondary-color);
}

/* UTILITIES */

.flex-column{
  display: flex;
  flex-direction: column;
}

.cursor-pointer{
  cursor: pointer;
}