@import url('carousel.css');
@import url('test-styles.css');
@import url('./photo-outliner.css');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display SC", serif;
  cursor: default;
  background-color: #F2EDFA;
}

:root{
  --primary-color: #172727;
}

body{
  display: flex;
  height: 100vh;
}

.container{
  margin: auto;
  width: 100%;
  height: 100%;
}


/* HEADER */

header {
 display: flex;
 justify-content: space-between;
 background-color: var(--primary-color);
 padding: 30px 60px;
 width: 100%;
 align-items: center;
 margin-bottom: 20px;
 position: fixed;
 z-index: 31;
 transition: all 0.2s ease-in-out;
}

header div{
color: #fff;
background-color: inherit;
}

.nav-list{
  background-color: inherit;
  background-color: var(--primary-color);

}

.nav-list li{
  display: inline;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
  border: none;
  background-color: var(--primary-color);
}

.nav-list li a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: inherit;
}

.nav-list li:nth-child(4) a{
  border-bottom: solid #fff;
  color: #fff;
}

.nav-list li:hover{
  border-bottom: solid #fff;
}

.hamburger-menu{
  display: none;
}


/* CONTAINER */

.container .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.container .title h1 {
  margin: 10px 0 20px 0;
  color: var(--primary-color);
  font-weight: 600;
}

.container .title ul li{
  display: inline;
  margin: 10px;
  cursor: pointer;
}

hr{
  width: 90%;
  margin: auto;
}


/* HERO SECTION */

.hero{
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
}

/* *****************FOOTER******************* */

footer{
  height: 100px;
  border: 2px solid #333;
  display: flex;
}

footer>p{
  color: red;
  margin: auto;
}



/* FOR JAVASCRIPT TOGGLES */
.text-bold-purple{
  font-weight: bolder;
  color: var(--primary-color);
}

.header-switch{
  background-color: var(--primary-color);
  color: white;
}

.navs-switch{
  color: white;
}

/* UTILITIES */

.flex-column{
  display: flex;
  flex-direction: column;
}

.cursor-pointer{
  cursor: pointer;
}